* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

h1 {
  padding-bottom: 40px;
}

img {
  width: 140px;
  height: 140px;
}

.contact,
.summary,
.skills,
.code,
.experience,
.education,
.english {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  border-bottom: 1px solid grey;
}

p {
  width: 50%;
}

li {
  display: flex;
}
